.inactive-nav-btn {
  color: #000 !important; /* black text on white navbar */
  border-color: #007bff;
  background-color: transparent;
  transition: all 0.3s ease;
}

.inactive-nav-btn:hover {
  background-color: #007bff;
  color: #fff !important;
}

.active-nav-btn {
  background-color: #007bff !important;
  color: #fff !important;
  border-color: #007bff !important;
}
